<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neuedu.project.dao.AnswerSheetMapper">

    <resultMap id="answersheetMap" type="AnswerSheet">
        <result column="answer_record_id" property="id"/>
        <result column="attend_record_id" property="attendRecordId"/>
        <result column="choices_answers" property="choiceQuestionAnswer"/>
        <result column="subjective_answers" property="subjectiveQuestionAnswer"/>
    </resultMap>

    <insert id="insertAnswers" parameterType="AnswerSheet">
        insert into student_answer_records (attend_record_id,choices_answers,subjective_answers)
        values (#{attendRecordId}, #{choiceQuestionAnswer}, #{subjectiveQuestionAnswer});
    </insert>

    <select id="queryAnswerSheetAboutTest" parameterType="int" resultMap="answersheetMap">
    select s_table.*
    from test_attend_records t_table,
         student_answer_records s_table
    where s_table.attend_record_id = t_table.attend_record_id
    and t_table.test_id = #{testId};
    </select>

    <select id="queryAnswerSheetByAttendRecordId" parameterType="int" resultMap="answersheetMap">
        select *
        from student_answer_records
        where attend_record_id = #{attendRecordId};
    </select>

</mapper>