<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neuedu.project.dao.CourseMapper">

    <resultMap id="courseMap" type="Course">
        <id column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <!--<result column="u_table.name" property="teacher"/>-->
        <collection property="teachers" ofType="User">
            <id column="user_id" property="userId"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <insert id="addCourse" parameterType="Course">
        <selectKey keyProperty="courseId" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
        insert into course (course_name)
        values (#{courseName});
    </insert>

    <insert id="addTeacherToCourse">
        insert into course_teaching (teacher_id, course_id)
        values (#{teacherId}, #{courseId});
    </insert>

    <insert id="addStudentToCourse">
        insert into course_selection (student_id, course_id)
        VALUES (#{studentId}, #{courseId})
    </insert>

    <select id="queryCourse" resultMap="courseMap">
        select c_table.course_id, c_table.course_name, u_table.name
        from course c_table, users u_table, course_teaching ct_table
        <where>
            <if test="courseName != null and courseName != ''">
                and c_table.course_name = #{courseName}
            </if>
            <if test="courseId != 0">
                and c_table.course_id = #{courseId}
                and ct_table.course_id = c_table.course_id
            </if>
            and ct_table.teacher_id = u_table.user_id
        </where>
    </select>

    <select id="getStudentIdFromCourse" resultType="String">
        select student_id
        from course_selection
        where course_id = #{courseId}
    </select>

    <select id="queryStudentSelectedCourse" resultMap="courseMap">
        select course_table.*, u_table.name
        from course course_table,
             course_selection selection_table,
             users u_table,
             course_teaching ct_table
        where selection_table.student_id = #{studentId}
          and ct_table.course_id = selection_table.course_id
          and u_table.user_id = ct_table.teacher_id
          and selection_table.course_id = course_table.course_id
    </select>

    <select id="queryTeacherTeachingCourse" resultMap="courseMap">
        select c_table.*
        from course c_table,
             course_teaching ct_table
        where ct_table.teacher_id = #{teacherId}
          and ct_table.course_id = c_table.course_id;
    </select>

</mapper>





