<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neuedu.project.dao.QuestionMapper">

    <resultMap id="questionMap" type="com.neuedu.project.domain.Question">
        <id column="question_id" property="questionId"/>
        <result column="course_id" property="courseId"/>
        <result column="question_type" property="questionType"/>
        <result column="question_content" property="questionContent"/>
        <result column="score" property="score"/>
        <!--<result column="choices" property="choicesString"/>-->
        <result column="choices_string" property="choicesString"/>
        <result column="question_answer" property="rightAnswerString"/>
        <result column="resources" property="resources"/>
    </resultMap>

    <insert id="addChoiceQuestion" parameterType="Question">
        insert into questions (course_id, question_type, question_content, choices_string, question_answer, resources)
        values (#{courseId}, 0, #{questionContent}, #{choicesString}, #{rightAnswerString}, #{resources});
    </insert>

    <insert id="addSubjectiveQuestion" parameterType="Question">
        insert into questions (course_id, question_type, question_content, question_answer,
                               resources)
        values (#{courseId}, 1, #{questionContent}, #{rightAnswerString}, #{resources});
    </insert>

    <select id="getQuestionsByCourseId"
            parameterType="Question"
            resultMap="questionMap">
        select question_id, question_type, question_content, choices_string, question_answer
        from questions
        <!--<where>-->
            <!--<if test="courseId != null and courseId != 0">-->
                <!--course_id = #{courseId}-->
            <!--</if>-->
            <!--<if test="questionType != null and questionType != -1">-->
                <!--and question_type = #{questionType}-->
            <!--</if>-->
            <!--<if test="questionId != null and questionId != 0">-->
                <!--and question_id = #{questionId}-->
            <!--</if>-->
        <!--</where>-->
        where course_id = #{courseId} and question_type = #{questionType}
    </select>



</mapper>