<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neuedu.project.dao.TestMapper">

    <resultMap id="testMap" type="com.neuedu.project.domain.Test">
        <id column="test_id" property="testId"/>
        <result column="course_id" property="courseId"/>
        <result column="choice_question" property="choiceQuestionIds"/>
        <result column="subjective_question" property="subjectiveQuestionIds"/>

    </resultMap>

    <delete id="deleteTestByTestId">
        delete
        from tests
        where test_id = #{id};
    </delete>

    <select id="getTestsByStudentId" resultMap="testMap">
        select t.*
        from course_selection cs,
             tests t
        where cs.student_id = #{studentId}
          and t.course_id = cs.course_id;
    </select>

    <select id="getTeacherTests" resultMap="testMap" resultType="Test">
        select t.*, c.course_name courseName
        from course_teaching ct,
             tests t,
             course c
        where ct.teacher_id = #{teacherId}
          and t.course_id = ct.course_id
          and c.course_id = ct.course_id
    </select>
    
    <insert id="addTest" parameterType="Test">
        insert into tests (course_id, choice_question, subjective_question)
        values (#{courseId}, #{choiceQuestionIds}, #{subjectiveQuestionIds});
    </insert>

    <select id="queryTest" parameterType="int" resultType="Test" resultMap="testMap">
        select *
        from tests
        where test_id = #{tId}
    </select>


</mapper>