<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neuedu.project.dao.TestMapper">

    <resultMap id="testMap" type="com.neuedu.project.domain.Test">
        <id column="test_id" property="testId"/>
        <result column="course_id" property="courseId"/>
        <result column="choice_question" property="choiceQuestionIds"/>
        <result column="subjective_question" property="subjectiveQuestionIds"/>
        <result column="release_datetime" property="releaseDate"/>
        <result column="duration" property="duration"/>
    </resultMap>

    <!--<select id="getStudentTests" resultMap="testMap">-->
<!--#           select test_id, duration from arrangement-->
<!--#         select *-->
<!--#         from tests t_table,-->
<!--#              course_selection cs_table-->
<!--#         where cs_table.student_id = #{studentId}-->
<!--#           and t_table.course_id = cs_table.course_id-->
    <!--</select>-->

    <delete id="deleteTestByTestId">
        delete
        from tests
        where test_id = #{id};
    </delete>

    <update id="updateTest">

    </update>

    <insert id="addTest" parameterType="Test">
        insert into tests (course_id,choice_question,subjective_question,release_datetime,duration)
        values (#{courseId}, #{choiceQuestionIds}, #{subjectiveQuestionIds}, #{releaseDate}, #{duration});
    </insert>

</mapper>